.landing_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
    /* background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20240328/pngtree-healthy-thai-food-recipes-concept-image_15645273.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; */
}

.landing_page {
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(5px); */
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .landing_page h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .landing_page p {
    font-size: 1.5em;
    margin-bottom: 40px;
    color: #666666;
  }
  
  .landing_page button {
    font-size: 1em;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .landing_page button:hover {
    background-color: #0056b3;
  }
  